{% load static %}
<header class="cabecario">
    <div class="logo">
        <a href="{% url 'home' %}">
            <img class="logo-img" src="{% static 'jogos/images/Logo.png' %}" alt="logo da game cards">
        </a>
    </div>
    <nav class="menu-login" alt="menu para criar conta ou logar">
        {% if user.is_authenticated %}
        <h3 class="titulo"><strong>Olá {{ user.username}}</strong></h1>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn-logout">Sair</button>
        </form>
        {% else %}
            <button class="btn-entrar" onclick="window.location.href='login';">Entrar</button>
        {% endif %}

        <section class="pesquisar-container">
            <input type="text" name="" id="">
            <button>
                <img src="{% static 'jogos/images/icone-pesquisar.png' %}" alt="">
            </button>
        </section>
    </nav>
</header>