/* Configurações iniciais da pagina */
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=K2D:wght@400;500;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "K2D", sans-serif;
    font-weight: 800;
}

.jersey-25-regular {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.k2d-regular {
    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.k2d-medium {
    font-family: "K2D", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.k2d-extrabold {
    font-family: "K2D", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background-size: cover;
    overflow: hidden;
    z-index: -1;
}

.background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 19, 36, 0.5);
    background: 
    linear-gradient(to bottom, rgba(16, 19, 36, 0) 70%, #101621a8 100%);
    z-index: 1;
}
  
  
body{
    background-color: #101621;
    color: #fff;
    padding: 2% 4%;
}

/* Header(cabeçario) */

.logo-img {
    width: 20em;
    transition: 0.5s;
}

.logo-img:hover{
    transform: scale(1.1);
}

.cabecario{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    z-index: 1000;
}

.btn-logout {
    background-color: #cc3333;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-logout:hover {
    background-color: #aa0000;
}

.btn-entrar {
    background-color: #cc3333;
    color: white;
    padding: 0.5em 1em;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-entrar:hover {
    background-color: #aa0000;
}



.menu-login {
    font-size: 1.3rem;
    color: #D1D3D9;
}

.menu-login {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.menu-login ul{
    display: flex;
    list-style: none;
    gap: 1.6em;
}

.menu-login button {
    display: flex;
    border: none;
    background: none;
    font-size: 1em;
    color: #D1D3D9;
    cursor: pointer;
    transition: 0.5s;
    gap: 0;
    align-items: center;
}

.menu-login button:hover{
    color: #ebeef5;
    transform: scale(1.1);
} 


.menu-logado {
    display: flex;
    align-items: center;
    gap: 1.5em;
    font-size: 1.3rem;
    color: #D1D3D9;
}

.menu-logado ul, li{
    display: flex;
    list-style: none;
    gap: 1.6em;
}

.menu-logado button {
    display: flex;
    border: none;
    background: none;
    font-size: 1em;
    color: #D1D3D9;
    cursor: pointer;
    transition: 0.5s;
    gap: 0;
    align-items: center;
}

.menu-logado button:hover{
    color: #ebeef5;
    transform: scale(1.1);
} 

.pesquisar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #343844;
    align-items: center;
    padding: 0.4em 0.4em;
    height: 1.8em;
    border-radius: 0.8em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    align-self: center;
    transition: 0.5s;
}

.pesquisar-container:hover {
    transform: scale(1.1);
}
.pesquisar-container input{
    background-color: #343844;
    border: none;
    color: #D1D3D9;
    outline: none;
    font-size: 0.6em;
    width: 12em;
    height: 2em;
    flex: 1;
}

.pesquisar-container button {
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 0.6em;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.texto-central-container {
    padding-top: 14em; 
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome h2 {      
    font-size: 2rem;
    margin: 8.5rem;         
  }

.texto-central{
    width: 12em;
    font-size: 4em;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.botão-central{
    width: 16em;
    align-items: center;
    height: 3em;
    font-size: 0.8em;
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
    background-color: #4B9CD3;
    color: #ffffff;
    transition: 0.5s;
}

.botão-central:hover{
    transform: scale(1.1);
    border-color: #236896;
    background-color: #236896;
    color: #ffffff;
}

@keyframes aparecerDeBaixo {
    0% {
        transform: translateY(100%);  
        opacity: 0;               
    }
    100% {
        transform: translateY(0);    
        opacity: 1;                  
    }
}

.feed-page-central{
    margin-top: 18em;
}

/* Resenhas */
.resenhas-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1.5em;
    margin-right: 10.6em;
    margin-left: 10.6em;
    gap: 4em;
}

.resenha-status-container{
    display: flex;
    transition: 0.5s;
    gap: 1em;
}

.status{
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    gap: 0.6em;
}

.status p {
    font-size: 0.9em;
    width: 129px;
    margin-bottom: 0.2em;
}

.nome-foto-usuario{
    display: flex;
    align-items: center;
    margin-left: -0.3em;
    gap: 0.4em;
}


.imagem-usuario {
    width: 1.5em;
    height: 1.5em;
}

.review{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}


.star-5{
    width: 5em;
}

.star-4{
    width: 4em;
}

.star-3{
    width: 3em;
}

.likes{
    display: flex;
    gap: 0.4em;
    align-items: center;
}

.likes img{
    width: 1em;
    height: 1em;
}

.likes label {
    font-size: 0.8em;
}

.resenha-img {
    width: 130px;
    height: 180px;
    border-radius: 1em;
    box-shadow: 0 6px 10px rgba(5, 5, 5, 0.705);
    
}

.resenhas {
    margin-top: 3em;
  }

.resenha-status-container:hover {
    transform: scale(1.1);
}

.lista-jogos {
    list-style: none;
    display: flex;
    white-space: nowrap;
}
.lista-jogos::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem */
}
.line-custom {
    border: none;
    height: 1px; /* Espessura da linha */
    width: 100%; /* Ajusta largura da linha */
    max-width: 2000px; /* Define um limite de largura máximo */
    background: #ffffff; /* Cor da linha */
    margin: 0 auto; /* Centraliza a linha horizontalmente */
}
.line-title {
    font-size: 1.1rem;
    margin-bottom: 0.4em;
}

.line-container {
    display: flex;
    justify-content: space-between; 
}

.more-btn {
    display: flex;
    border: none;
    background: none;
    font-size: 1em;
    color: #D1D3D9;
    cursor: pointer;
    transition: 0.5s;
    gap: 0;
}

.games-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista-jogos-container {
    display: flex;
    gap: 1em;
    padding: 1em;
}

.lista-jogos {
    display: flex;
    list-style: none;
    gap: 2em;
}

.card-jogo {
    width: 220px;
    height: 320px;
    background: #101621;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 6px 10px rgba(8, 8, 8, 0.705);
    scroll-snap-align: start; /* Garante que o item "encaixe" na área visível */
}

.card-jogo:hover {
    transform: scale(1.05);
}

.card-jogo img {
    width: 210px;
    height: 310px;
    object-fit: cover;
    border-radius: 15px;
    position: relative;
    z-index: 1;
}

.card-jogo::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 130%;
    background-image: linear-gradient(180deg, #192947, #192947);
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.card-jogo::after {
    content: '';
    position: absolute;
    background: #07182E;
    inset: 5px;
    border-radius: 15px;
}

/* Detalhes estilo */

.body-gamepage{
    background-color: #1F1F1F;
    color: #fff;
    padding: 2% 4%;
}

.background-resenha {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background-size: cover;
    overflow: hidden;
    z-index: -1;
}

.background-resenha::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 19, 36, 0.5);
    background: 
    linear-gradient(to bottom, rgba(16, 19, 36, 0.378) 20%, #050505d8 100%);
    z-index: 1;
    }

.background-resenha img{
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.game-container {
display: flex;
align-items: center;
justify-content: left;
padding-left: 14%;
height: 100vh;
}

.jogo-capa img {
    max-width: 300px;
    max-height: 400px;
    border-radius: 2em;
}


.game-info {
    display: flex;
    gap: 4em;
}

.titulo-ano {
    display: flex;
    align-items: center;
    color: #D1D3D9;
    gap: 1.5em;
}

.titulo-ano strong{
    font-size: 3em;
    color: #ffffff;
}

.ano {
    padding-top: 0.5em;
}

.diretor {
    display: flex;
    margin-left: 0.5em;
    color: #D1D3D9;
    gap: 1.5em;
    align-items: center;
}

.diretor strong {
    color: #ffffff;
}

.sinopse {
    margin-top: 2em;
    margin-left: 0.5em;
    width: 32em;
}
.sinopse p {
    font-family: "K2D", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.4em;
    color: #D1D3D9;
}

.interacao-container {
    width: 21em;
    height: 24em;
    padding: 2em 2em;
    background-color: #343844e5;
    border-radius: 1em;
}

.interacoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5em;
}

.icon-jogado {
    width: 3em;
    height: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    transition: 0.5s;
}

.icon-curtir {
    width: 2.5em;
    height: 2.5em;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
    transition: 0.5s;
}

.icon-nuvem {
    width: 2.8em;
    height: 2.2em;
    margin-top: 0.8em;
    margin-bottom: 0.6em;
    transition: 0.5s;
}

.jogado, .curtir, .salvar {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.icon-jogado:hover,
.icon-curtir:hover,
.icon-nuvem:hover{
    transform: scale(1.3);
}

.jogado:hover,.curtir:hover,.salvar:hover{
    color: #80df7d;
}

.jogado.clicked, .curtir.clicked, .salvar.clicked {
    color: #80df7d; 
}

.botoes,
.registre{
    width: 19em;
    height: 3em;
    border-radius: 3em;
    border: none;
    background-color: #3D414D;
    color: #FFFFFF;
    margin-left: 0.8em;
    margin-bottom: 1.5em;
    font-size: 0.8em;
    transition: 0.5s;
    cursor: pointer;
}


.botoes:hover,
.registre:hover{
    background-color: #1f222b;
    transform: scale(1.1);
}

    /* estilos para o modal de gamepage */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #343844;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    max-width: 600px;
    animation: modalAparecer 0.4s ease-out;
}

.container-texto-resenha {
    margin: 20px 0;
}

#texto-resenha {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1F1F1F;
    color: white;
    border: none;
    resize: none;
    font-family: "K2D", sans-serif;
}

/* Estilizando o formulario */

body.crud {
    background-color: #101621;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.main-container-crud {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 2em;
}

.criar, .editar-excluir {
    background-color: #192947;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

.criar h1,
.editar-excluir h2 {
    text-align: center;
    margin-bottom: 1em;
}

.criar form p {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.criar form label {
    margin-bottom: 0.5em;
    font-weight: bold;
}

.criar form input,
.criar form textarea,
.criar form select {
    padding: 0.5em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #0e1a2f;
    color: #fff;
}

.criar form button,
.criar form a {
    padding: 0.75em 1em;
    margin-top: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #00aaff;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s;
    display: inline-block;
    margin-right: 0.5em;
}

.criar form button:hover,
.criar form a:hover {
    background-color: #008ecc;
}

.editar-excluir ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0;
}

.editar-excluir li {
    background-color: #1c2b3d;
    width: fit-content;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5em;
}

.editar-excluir img{
    width: 180px;
    height: 200px;
    margin-top: 1rem;
}

.editar-excluir li img {
    border-radius: 10px;
}

.botoes-acoes {
    display: flex;
    margin-top: 2rem;
    gap: 1.4rem;
    align-items: center;
}

.botoes-acoes a {
    background-color: #007acc;
    padding: 0.5em 1em;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background 0.3s;
}

.botoes-acoes a:hover {
    background-color: #005f99;
}

.botoes-acoes form {
    margin: 0;
}

.botoes-acoes .btn-excluir {
    background-color: #cc3333;
    padding: 0.82em 0.9em;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background 0.3s;
}

.botoes-acoes .btn-excluir:hover {
    background-color: #aa0000;
}

.container-stars {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 2em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container-stars p {
    margin-top: 0.5em;
    font-size: 1.1em;
}

.stars {
color: #D1D3D9;
display: flex;
justify-content: center;
font-size: 40px;
gap: 0.5em;
cursor: pointer;
transition: color 0.3s ease;
}

.star.preenchida {
    color: gold !important;
    transform: scale(1.2);
    transition: transform 0.2s ease, color 0.2s ease;
}

