{% load static %}
{% include "jogos/partials/head.html" %}
<meta name="csrf-token" content="{{ csrf_token }}">
<body class="body-gamepage">
    {% include "jogos/partials/header.html" %}
    <main>
        {% if jogo.background %}
            <div class="background-resenha">
                <img src="{{ jogo.background.url }}" alt="Plano de fundo do jogo {{ jogo.titulo }}">
            </div>
        {% endif %}

        <section class="game-container">
            <article class="game-info">
                <div class="jogo-capa">
                    {% if jogo.capa %}
                        <img src="{{ jogo.capa.url }}" alt="Capa do jogo {{ jogo.titulo }}">
                    {% endif %}
                </div>
    
                <section>
                    <div class="titulo-ano">
                        <h1 class="titulo"><strong>{{ jogo.titulo }}</strong></h1>
                        <h3 class="ano">{{ jogo.data_lancamento }}</h3>
                    </div>
    
                    <div class="diretor">
                        <p><strong>Desenvolvido por:</strong> {{ jogo.estudio }}</p>
                    </div>

                    <div class="sinopse">
                        <p>{{ jogo.descricao }}</p>
                    </div>
                </section>

                <aside class="interacao-container">

                    <section class="interacoes">
                        <div class="jogado" role="button">
                            <img class="icon-jogado" src="{% static 'jogos/images/Jogado.png' %}" alt="Ícone jogado">
                            <p>Jogado</p>
                        </div>
    
                        <div class="curtir" role="button">
                            <img class="icon-curtir" src="{% static 'jogos/images/curtir.png' %}" alt="Ícone curtir">
                            <p>Curtir</p>
                        </div>
    
                        <div class="salvar" role="button">
                            <img class="icon-nuvem" src="{% static 'jogos/images/nuvem.png' %}" alt="Ícone salvar">
                            <p>Salvar</p>
                        </div>    
                    </section>

                    <section class="container-stars">
                    <div class="stars" id="estrelas-resenha">
                        {% for i in "12345" %}
                            <span class="star" data-value="{{ i|add:'0' }}" role="button">★</span>
                        {% endfor %}
                    </div>
                    <p>Média de avaliação: <span id="media-de-estrelas">{{ media_estrelas }}</span></p>
                    </section>


                    <button class="botoes">Revise ou registre...</button>
                    <button class="botoes">Compartilhar...</button>
                </aside>
            </article>
        </section>
    </main>

<script>
    var avaliarJogoUrl = "{% url 'avaliar_jogo' jogo.id %}";
</script>
<script src="{% static 'jogos/js/script.js' %}"></script>
</body>
</html>
